body {
  max-width: 20em;
  margin: 0 auto;
  padding: 5px;
  font-family: Georgia, serif;
  font-size: 16px;
  line-height: 1.6em;
  color: black;
}
h1, h2, h3 {
  font-family: sans-serif;
  font-weight: normal;
}
